body{ }

.bio
	{
	 width: 350px;
	 font-family: 'Oswald', sans-serif;
	}

.bio header
	{color: red;}

.bio header img
	{ max-width: 100%;
	  border-radius: 20px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: black;
	}

.bio h2
