*, *::before, *::after {
    box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.clearfix {
    margin: 20px;
}
body {
    color: hsla(0, 0%, 100%, 1);
    background: linear-gradient(to bottom, hsla(224, 85%, 19%, 1), hsla(206, 71%, 39%, 1), hsla(224, 85%, 19%, 1));
}
.transparent {
    color: hsla(0, 0%, 100%, .35);
}
section {
    width: 33.3333%;
    padding: 2vw;
    float: left;
    text-align: center;
}

/* Section First */
section:first-child img {
    width: 100%;
}
section:first-child h2 {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 200;
}
section:first-child h3 {
    margin-top: 10px;
    font-weight: 100;
    font-family: sans-serif;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, .35);
}

/* Section Middle */
section:nth-child(2) p:first-of-type {
    text-align: left;
    margin-bottom: 0;
    line-height: 1.5;
}
section:nth-child(2) p:nth-of-type(2){
    text-align: left;
    margin-top: 0;
    font-size: 80%;
    line-height: 1.5;
}
section:nth-child(2) p:nth-of-type(3) {
    margin-bottom: 0;
    text-transform: uppercase;
}
section:nth-child(2) p:nth-of-type(4) {
    text-align: justify;
    border: 2px solid white;
    padding: 10px;
    margin-top: 0;
    font-size: 90%;
    line-height: 1;
}
section:nth-child(2) p:nth-of-type(5),
section:nth-child(2) p:last-of-type {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
}



/* Section Last */
section:last-child img:nth-of-type(1) {
    width: 50%;
}
section:last-child div:first-of-type img {
    width: 20%;
    margin-right: 20px;
    float: left;
}
section:last-child div:first-of-type p {
    font-size: 60%;
    text-align: left;
    text-transform: uppercase;
}
section:last-child div:nth-of-type(2) img {
    width: 20%;
    margin-right: 20%;
    float: left;
}
section:last-child div:nth-of-type(2) img:last-child {
    margin-right: 0;
}
section:last-child div:nth-of-type(3) img {
    width: 20%;
    float: left;
}
section:last-child {
    position: relative;
}




/* Barcode */
#barcode {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: rotate(-90deg);
    text-align: left;
    width: 75%;
}
#barcode p {
    margin: 0;
    text-transform: uppercase;
    font-size: 80%;
}
#barcode p:last-of-type {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: Impact;
}