@import url(normalize.css);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
/* variables */
html {
  background: #ebebeb;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  border-width: 0 12vw;
  border-style: solid;
  border-color: transparent;
}

#utilnav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#utilnav li:nth-of-type(4) {
  margin-left: auto;
  border-radius: 50%;
  background-color: #242424;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 45px;
  width: 45px;
}
#utilnav a {
  padding-top: 16px;
}
#utilnav a#mail {
  color: #44caca;
}
#utilnav a#twitter {
  text-decoration: none;
  color: #44caca;
}
#utilnav a#twitter:visited {
  color: #44caca;
}
#utilnav a#facebook {
  text-decoration: none;
  color: #44caca;
}
#utilnav a#facebook:visited {
  color: #44caca;
}
#utilnav li:last-of-type {
  border-radius: 50%;
  background-color: #242424;
  height: 45px;
  width: 45px;
}
#utilnav i {
  padding-top: 10px;
}

nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
nav ul li {
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
nav ul li:first-of-type {
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
}
nav ul li:nth-of-type(2) {
  margin-left: auto;
}

#utilnav {
  background-color: #141414;
  color: white;
  font-size: 80%;
  padding: 20px 0;
}
#utilnav li {
  margin: 0 10px;
}

nav ul {
  padding-top: 30px;
  padding-bottom: 30px;
}
nav ul li {
  color: white;
  font-size: 30px;
  font-family: impact;
  text-align: center;
  padding-left: 25px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 60px;
}
nav ul li:first-of-type {
  background-color: #ebebeb;
  margin-right: 20px;
  background-image: url(../img/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
}
nav ul li:first-of-type i {
  margin-left: 0px;
}
nav ul li:nth-of-type(2) {
  background-color: #44caca;
}
nav ul li:nth-of-type(3) {
  background-color: #5abc49;
}
nav ul li:nth-of-type(4) {
  background-color: #f8b50d;
}
nav ul li:nth-of-type(5) {
  background-color: #f34c49;
}
nav ul li:last-of-type {
  background-color: #b13989;
}

.heroStyles {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.heroStyles div {
  padding-top: 50px;
  padding-bottom: 60px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.heroStyles div h1 {
  margin-right: 0px;
  color: #ebebeb;
  text-align: center;
  font-size: 12em;
}
.heroStyles div h2 {
  color: #ebebeb;
  text-align: center;
  font-size: 5em;
  margin: auto;
}

section:first-of-type {
  background-image: url(../img/slider-img1.jpg);
}

.second {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.second div {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 10px;
  background-color: #44caca;
}
.second div:first-of-type {
  margin-right: 25px;
}
.second img {
  width: 100%;
  vertical-align: bottom;
}

#seventh {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #5abc49;
}
#seventh div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
#seventh div div {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 5px;
}
#seventh div div:first-child {
  margin-left: 0;
}
#seventh div div:last-child {
  margin-right: 0;
}
#seventh div div img {
  width: 100%;
  vertical-align: bottom;
}
#seventh div div h1 {
  margin: 0px;
  color: #ebebeb;
  text-align: center;
  font-size: 40px;
  background-color: #f8b50d;
  width: 100%;
  height: 100%;
  padding: 35px 0 136px 0;
}
#seventh div #seeAll {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
#seventh div #seeAll a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8b50d;
  width: 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 40px;
  text-align: center;
}

.third {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.third div {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #44caca;
  padding: 10px;
  margin: 10px;
}
.third div img {
  display: block;
  margin: 0 auto;
}
.third div h1, .third div p {
  text-align: center;
}
.third div:first-of-type {
  margin-left: 0;
}
.third div:last-of-type {
  margin-right: 0;
}

#forth {
  padding-bottom: 25px;
}

#fifth {
  background-image: url(../img/parallax-img-1.jpg);
}
#fifth h1 {
  font-size: 6em;
}
#fifth h2 {
  font-size: 4em;
}

#sixth img {
  border-radius: 50%;
  max-width: 100%;
}

#blog h1, #blog h2, #blog p {
  text-align: center;
}

#tenth {
  background-color: #242424;
  margin-top: 10px;
}
#tenth div.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
#tenth div.container div h1 {
  color: #ebebeb;
}
#tenth div.container div ul li {
  margin-bottom: 10px;
}
#tenth div.container div ul li a {
  text-decoration: none;
  color: #ebebeb;
  font-size: 16px;
}

#copy {
  background-color: #141414;
  margin: 0px;
  padding: 15px 0;
}
#copy a {
  text-decoration: none;
  color: #ebebeb;
  font-size: 16px;
}

/*# sourceMappingURL=styles.css.map */